.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: #b0a3d4; /* Update to match your app's purple color */
  border-bottom: 1px solid #e0e0e0;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.username {
  font-weight: bold;
  font-size: 1.7em;
  color: #181846; /* White text for better contrast on the purple background */
  margin-right: 20px;      
}

.btn {
  margin-left: 10px;
  padding: 8px 15px;
  background-color: #f5a623;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e5941a;
}

.btn.log-off {
  background-color: #e74c3c; /* Red for Log Off button */
}

.btn.log-off:hover {
  background-color: #c0392b;
}
