/* Task List */

.list-container {
width: 860px;
background-color: #F5F5FF; 
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
margin: 30px auto; 
border: 2px solid #6D6DA0;
text-align: left; 
align-items: center;
position: relative; 
}

.task-item {
background-color: #FFFFFF; 
padding: 30px; /* Space around each task */
list-style-type: none; 
align-items: center;
border-radius: 8px;
margin-bottom: 15px;
margin-top: 20px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25); 
margin-bottom: 40px; 
border: 1px solid #6D6DA0; 
}

.list-header {
display: flex;
align-items: left;
justify-content: space-between;
background-color: #F1C555; 
padding: 10px 15px;
border-radius: 8px 8px 0 0; 
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.list-title {
font-weight: bold;
font-size: 1.5em;
align-items: left;
margin: 0;
color: #333333;
top: 20px;
text-align: left;
}

.expand-btn {
background-color: #6D6DA0; 
border: none;
color: white;
font-size: 1.5em;
cursor: pointer;
border-radius: 5px;
padding: 4px 8px;
font-weight: bold;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
transition: background-color 0.3s ease;
}


.expand-btn:hover {
background-color: #5b5b84; 
}

.task-list {
padding: 0; 
list-style: none; 
align-items: center;
justify-content: space-between;
margin: 10px;
}

.task-item .task-text {
margin-left: 10px;
flex-grow: 1; 
}

.task-item input[type='checkbox'] {
margin-right: 10px; 
}

.task-details {
display: flex;
align-items: center;
z-index: 2; 
}

.add-task {
display: flex;
margin-top: 10px;
padding: 8px;
border-radius: 5px;
align-items: right;
justify-content: right;
text-align: right;
}

.new-task-input {
border: 1px solid #ccc;
border-radius: 5px;
padding: 8px;
}

.add-task-btn {
background-color: #F1C555;
color: white;
border: none;
padding: 8px 12px;
border-radius: 5px;
cursor: pointer;
margin-left: 5px;
font-family: 'Poppins', sans-serif; 
font-weight: bold;
align-items: right;
}

.add-task-btn:hover {
background-color: #de94e8; 
}

.toggle-button {
width: 30px;
height: 30px;
background-color: #b0a3d4;
color: #FFFFFF;
border: none;
padding: 5px;
border-radius: 12px; 
display: flex;
align-items: center;
justify-content: center;
text-align: center;
display: flex;
font-size: 1.5em;
cursor: pointer;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
transition: transform 0.2s ease;
}

.toggle-button:hover {
transform: scale(1.05);
}

.toggle-button:active {
transform: scale(0.95);
}

.task-text.crossed-off {
text-decoration: line-through; /* Cross off the text when completed */
color: grey;
}

.completed-item {
background-color: #f0f0f0; 
}

.task-checkbox {
transform: scale(1.5); 
margin-right: 10px; 
margin-left: 20px;
z-index: 3; 
cursor: pointer;
}
